# Movement
alias ..="cd .."
alias -- -="cd -"

### Git
alias g="git"
alias gst="git status"
alias git-clean='git branch --merged | grep -v "\*" | grep -v master | grep -v development | xargs -n 1 git branch -d'
alias tss='tig status'
alias gpom='git pull origin main'
alias gpb='git push origin `git rev-parse --abbrev-ref HEAD`'
alias gpbf='git push --force-with-lease origin `git rev-parse --abbrev-ref HEAD`'
alias grmi="git commit -am \"f\" && git rebase master -i"
alias grc="git rebase --continue"

gch() {
 git checkout $(git branch | fzf| tr -d '[:space:]')
}

### Rails specfic
alias g-rails='git checkout master -- db/structure.sql && make rebuild-database && rails db:migrate && git add db/structure.sql && git rebase --continue'
alias t='rails test'
alias rdm='rails db:migrate'
alias rdr='rails db:rollback'
alias rdtp='rails db:test:prepare'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

#  HTTP/DNS
alias sniff="sudo ngrep -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias find-my-pi="arp -na | grep -i b8:27:eb"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Neovim > Vim
alias vim="nvim"
alias v="nvim"

# Tmux
alias ta="tmux attach-session -t"
alias tn="tmux new-session -s"

# ZSH
alias zshrc='vim ~/.zshrc'
alias vimrc='nvim ~/.config/nvim'
alias hxrc='hx ~/.config/helix'
alias zsh_alias='vim ~/.aliases'

# Eza
alias l="eza -l -s modified"
alias ll="eza -l -s modified"
alias la="eza -la -s modified"

# Kubernetes/Helm
alias k="kubectl "
alias kctldp="kubectl describe pod"
alias ccontext="kubectl config current-context"
alias mk="minikube kubectl --"
alias hst="helm status"

# dbt
alias dtbf='dbt build --full-refresh'
alias dtb='dbt build'
alias dbs='dbt build -s '
alias drs='dbt run -s '
alias dtbp="dbt deps && dbt --warn-error build --fail-fast"

# Difftastic
alias dt="difft"

# Claude
alias ccl='claude --dangerously-skip-permissions'
