# Movement
alias ..="cd .."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Base
alias less="less -r"

# Irssi (fixes tmux issues)
alias irssi="TERM=screen-256color irssi"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias g="git"
alias gst="git status"
alias git-clean='git branch --merged | grep -v "\*" | grep -v master | grep -v development | xargs -n 1 git branch -d'
alias g-rails='git checkout master -- db/structure.sql && make rebuild-database && rails db:migrate && git add db/structure.sql && git rebase --continue'
alias tss='tig status'
alias t='rails test'
alias rdm='rails db:migrate'
alias rdr='rails db:rollback'
alias sps='spring stop'
alias rdtp='rails db:test:prepare'
alias find-my-pi="arp -na | grep -i b8:27:eb"

# Postgres open connections
alias whodatdata="psql -c \"select * from pg_stat_activity where datname = 'gaest_data';\""
alias whodatdev="psql -c \"select * from pg_stat_activity where datname = 'gaest_development';\""
# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Neovim > Vim
alias vim="nvim"
alias vimc="nvim ~/.config/nvim/init.vim"

# Brew
alias bu="brew update && brew upgrade"

# Git
alias grmi="git commit -am \"f\" && git rebase master -i"
alias grc="git rebase --continue"

# Tmux
alias ta="tmux attach-session -t"
alias tn="tmux new-session -s"

# ZSH
alias zshrc='nvim ~/.zshrc'

# Elixir & Mix
alias iexm='iex --erl "-kernel shell_history enabled" -S mix'
alias phxs='mix phx.server'
alias mt='mix test'

# Python
alias psa='source activate'
alias psd='source deactivate'

# Exa
alias l="exa -l"
alias ll="exa -l"
alias la="exa -la"

# Docker
alias dc="docker-compose"

# Kubernetes/Helm
alias kctldp="kubectl describe pod"
alias ccontext="kubectl config current-context"
alias hst="helm status"
