[user]
	email = rune.andersen92@gmail.com
        name = Rune Andersen
[push]
        default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	st = status
[core]
	autocrlf = input
[pull]
	rebase = true
[fetch]
	prune = true
